@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.courses-container .courses-my{
    position: fixed;
    width: 147px;
    height: 35px;
    left: 448px;
    top: 85px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;

    color: #555555;

    white-space: nowrap;
}

.courses-container .courses-cards {
  display: flex;
  flex-direction: row;
  margin-left: 440px;
  column-gap: 33px;
  margin-top: 137px;
}

.courses-container .courses-cards .card-image {
    width: 236px;
    height: 139.61px;
    
    background: #FFF1F1;
    border-radius: 20px 20px 0px 0px;
  }

  .courses-container .courses-cards .card-underRectangle {
    background: #FAFAFA;
    border-radius: 0px 0px 20px 20px;
    height: 70px;
  }

  .courses-container .courses-cards .card-subject {
      margin-top: 10px;
  }

  .courses-container .courses-course_button {
    text-decoration: none;
  }

  .courses-container .courses-cards .courses-course_button{
    display: flex;
  }