@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .home-conteiner .home-resume {
    position: fixed;
    width: 97px;
    height: 35px;
    left: 448px;
    top: 85px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;

    color: #555555;
  }

  .home-conteiner .home-next{
    position: fixed;
    width: 237px;
    height: 35px;
    left: 448px;
    top: 285px;
    
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 35px;
    
    color: #555555;
    
    white-space: nowrap;
  }

  .home-conteiner .home-rectangle {
    display: flex;
    margin-left: 300px;
    padding: 137px;

    column-gap: 35px;

  }

  .home-conteiner .home-rectangle .rectangle__quantity {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #595959;
  }

  .home-conteiner .home-rectangle .rectangle__enrolledCourses {

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #A5A5A5;
    white-space: nowrap;
  }

  .home-conteiner .home-rectangle .rectangle__icon {
    background: #FFFFFF;
    color: #7D7D7D;

    width: 48px;
    height: 48px;

    text-align: center;
    border-radius: 50%;
   
  }

  .home-conteiner .home-rectangle .rectangle__icon i svg{
    margin-top: 15px;
    width: 20px;
    height: 20px;
  }

  .home-conteiner .home-cards {
    display: flex;
    column-gap: 33px;
    margin-left: 440px;
    justify-content: flex-start;
  }

  .home-conteiner .home-cards .card-underRectangle {
    background: #FAFAFA;
    border-radius: 0px 0px 20px 20px;
    height: 70px;
  }

  .home-conteiner .home-cards .card-image {
    width: 236px;
    height: 139.61px;
    
    background: #FFF1F1;
    border-radius: 20px 20px 0px 0px;
  }